{% extends "base.html" %}
{% load static %}

{% block main-content %}
<style>
  .changepassword {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    height:73.4vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 600px;
}

.login-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.login-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.login-form button[type="submit"]:hover {
    background-color: #0056b3;
}



</style>
<div class="changepassword">
<div class="login-container">
    <h2>Change password</h2>
    <form class="login-form" method="post">
        {% csrf_token %}
        {{ form.password }}
        <button type="submit">Submit</button>
    </form>
</div>
</div>

<!-- Add SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% endblock main-content %}